<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Modern Business - Start Bootstrap Template</title>

<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="css/modern-business.css" rel="stylesheet">
</head>
<body>

	<nav
		class="navbar fixed-top navbar-expand-lg navbar-light bg-light ">
		<div class="container">
			<a class="navbar-brand" th:href="@{/home}">Start Shopping</a> &nbsp;
			&nbsp;
			<button class="navbar-toggler navbar-toggler-right" type="button"
				data-toggle="collapse" data-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<form class="navbar-form">
				<div class="input-group no-border">
					<input type="text" name="name" class="form-control"
						placeholder="Search Product ...">
					<button type="submit" class="btn btn-white btn-round btn-just-icon">
						<i class="material-icons">search</i>
						<div class="ripple-container"></div>
					</button>
				</div>
			</form>

			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li><a th:href="@{/productList}"> Product List |</a>&nbsp;</li>
					<li><a th:href="@{/shoppingCart}"> My Cart |</a>&nbsp;</li>
					<th:block
						sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_EMPLOYEE')">
						<li><a th:href="@{/admin/orderList}"> Order List |</a>&nbsp;</li>
					</th:block>
					<th:block sec:authorize="hasRole('ROLE_MANAGER')">
						<li><a th:href="@{/admin/product}"> Create Product |</a>&nbsp;</li>
					</th:block>
					<th:block sec:authorize="isAuthenticated()">
         Hello, 
         <li><a th:href="@{/admin/accountInfo}"
							th:utext="${#request.userPrincipal.name}">...</a></li>
         &nbsp;
         <li><a th:href="@{/admin/logout}">| Logout</a></li>
					</th:block>

					<th:block sec:authorize="!isAuthenticated()">
						<li><a th:href="@{/admin/login}">Login</a></li>
					</th:block>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>