
		  <nav aria-label="Pagination">
            <ul class="pagination justify-content-end">
                <li class="page-item" th:each="pageNumber, iStat : ${pagination}">
                    <th:block th:if=${iStat.size}>
                        <th:block th:switch="${pageNumber}">
                            <a th:case="'Previous'" class="page-link svg-icon" aria-label="Previous" title="Previous Page" rel="tooltip">Previous</a>
                            <a th:case="'Next'" class="page-link svg-icon">Next</a>
                            <th:block th:case="*">
                                <a
                                   th:if="${iStat.index} == 0"
                                    class="page-link svg-icon"
                                    th:href="@{/{routing}?name={search}&page={number}(routing=${routingName},search=${routingSearch}, number=${pageNumber})}"
                                    th:text='Previous'
                                    ></a>
                                <a
                                   th:if="${iStat.index} == ${iStat.size} -1"
                                    class="page-link svg-icon"
                                    th:href="@{/{routing}?name={search}&page={number}(routing=${routingName},search=${routingSearch}, number=${pageNumber})}"
                                    th:text='Next'
                                    ></a>
                                <a
                                   th:unless="${iStat.first} or ${iStat.last}"
                                    class="page-link svg-icon"
                                    th:href="@{/{routing}?name={search}&page={number}(routing=${routingName},search=${routingSearch}, number=${pageNumber})}"
                                    th:text=${pageNumber}
                                ></a>
                            </th:block>
                        </th:block>
                    </th:block>
                </li>
            </ul>
        </nav>                                                       

