<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<link rel="apple-touch-icon" sizes="76x76"
	href="../assets/img/apple-icon.png">
<link rel="icon" type="image/png" href="../assets/img/favicon.png">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Material Dashboard by Creative Tim</title>
<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
	name='viewport' />
<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css"
	href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<!-- CSS Files -->
<link href="../assets/css/material-dashboard.css?v=2.1.1"
	rel="stylesheet" />
<!-- CSS Just for demo purpose, don't include it in your project -->
<link href="../assets/demo/demo.css" rel="stylesheet" />
</head>
<body>
	<th:block th:include="/_header"></th:block>
	<br/>
	<div class="container">
		<div class="content">
			<div class="container-fluid">
				<div class="card">
					<div class="card-header card-header-primary">
						<div class="customer-info-container">
							<h3>Customer Information:</h3>
							<ul>
								<li>Name: <span th:utext="${myCart.customerInfo.name}"></span></li>
								<li>Email: <span th:utext="${myCart.customerInfo.email}"></span></li>
								<li>Phone: <span th:utext="${myCart.customerInfo.phone}"></span></li>
								<li>Address: <span
									th:utext="${myCart.customerInfo.address}"></span></li>
							</ul>
							<h3>Cart Summary:</h3>
							<ul>
								<li>Quantity: <span th:utext="${myCart.quantityTotal}"></span>
								</li>
								<li>Total: <span class="total"
									th:utext="${#numbers.formatDecimal(myCart.amountTotal,3,2,'COMMA')}">
								</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div align="center">
			<div class="col-md-4">
				<div class="card card-profile">
					<div class="product-preview-container"
						th:each="cartLineInfo : ${myCart.cartLines}">
						<div class="card-body">
							<ul>
								<li>Code: <span th:utext="${cartLineInfo.productInfo.code}"></span>
									<input type="hidden" name="code"
									th:value="${cartLineInfo.productInfo.code}" />
								</li>
								<li>Name: <span th:utext="${cartLineInfo.productInfo.name}"></span></li>
								<li>Price: <span class="price"
									th:utext="${#numbers.formatDecimal(cartLineInfo.productInfo.price,3,2,'COMMA')}">
								</span>
								</li>
								<li>Quantity: <span th:utext="${cartLineInfo.quantity}"></span></li>
								<li>Subtotal: <span class="subtotal"
									th:utext="${#numbers.formatDecimal(cartLineInfo.amount,3,2,'COMMA')}">
								</span>
								</li>
							</ul>
						</div>
						--------------------------------------------
					</div>
				</div>
			</div>
		</div>
		<div align="center">
			<form method="POST" th:action="@{/shoppingCartConfirmation}">
				<!-- Edit Cart -->
				<a th:href="@{/shoppingCart}" class="btn btn-primary btn-round">Edit
					Cart</a>
				<!-- Edit Customer Info -->
				<a th:href="@{/shoppingCartCustomer}"
					class="btn btn-primary btn-round">Edit Customer Info</a>
				<!-- Send/Save -->
				<input type="submit" value="Send" class="btn btn-primary btn-round" />
			</form>
		</div>

	</div>
	<th:block th:include="/_footer"></th:block>
</body>
</html>